$colors: (
        'primary': (
                'base': #f71c22,
        ),
        'success': (
                'base': #00c853,
        ),
        'warning': (
                'base': #ffd600,
        ),
        'danger': (
                'base': #ef6c00,
        ),
        'error': (
                'base': #6a1b9a,
        ),
        'info': (
                'base': #00b0ff,
        ),
        'white': #fafafa
);

@forward "element-plus/theme-chalk/src/common/var.scss" with (
// do not use same name, it will override.
$colors: $colors,
);

@use "element-plus/theme-chalk/src/index.scss" as *;

body {
        margin: 0;
        font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
};